.navigation {
  display: flex;
  height: 100%;
  background-color: #ffffff;
}

.menuColumn {
  background-color: #ffffff;
  padding: 20px 15px 20px 20px;
  overflow-y: auto;
  /* border-right: 1px solid #000; */
  width: 250px;
}

.menuItem {
  padding: 0;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 12px;
  color: #000;
  user-select: none;
  display: block;
  width: fit-content;
}

.menuItem:hover {
  background-color: #000;
  color: #fff;
}

.menuItem.active {
  background-color: #000;
  color: #fff;
}

.submenuColumn {
  background-color: #ffffff;
  padding: 20px 15px;
  overflow-y: auto;
  width: 300px;
}

.submenuItem {
  padding: 0;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 12px;
  color: #000;
  user-select: none;
  display: block;
  width: fit-content;
}

.submenuItem:hover {
  background-color: #000;
  color: #fff;
}

.submenuItem.active {
  background-color: #000;
  color: #fff;
}

