.navigation {
  display: flex;
  height: 100%;
  background-color: #ffffff;
}

.menuColumn {
  background-color: #ffffff;
  padding: 20px 15px 20px 20px;
  overflow-y: auto;
  /* border-right: 1px solid #000; */
  width: 300px;
}

.menuItem {
  padding: 0;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 12px;
  color: #000;
  user-select: none;
  display: block;
  width: fit-content;
}

.menuItem:hover {
  background-color: #000;
  color: #fff;
}

.menuItem.active {
  background-color: #000;
  color: #fff;
}

.submenuColumn {
  background-color: #ffffff;
  padding: 20px 15px;
  overflow-y: auto;
  width: 300px;
}

.submenuItem {
  padding: 0;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 12px;
  color: #000;
  user-select: none;
  display: block;
  width: fit-content;
}

.submenuItem:hover {
  background-color: #000;
  color: #fff;
}

.submenuItem.active {
  background-color: #000;
  color: #fff;
}

.aboutText {
  font-size: 12px;
  color: #000;
  line-height: 1.6;
}

.aboutText p {
  margin-bottom: 16px;
}

.aboutText p:last-child {
  margin-bottom: 0;
}

.aboutTextInline {
  font-size: 12px;
  color: #000;
  line-height: 1.6;
  margin-top: 15px;
  padding-left: 0;
  max-width: 250px;
}

.aboutTextInline p {
  margin-bottom: 12px;
}

.aboutTextInline p:last-child {
  margin-bottom: 0;
}

.aboutLink {
  display: block;
  margin-top: 2px;
  font-size: 12px;
  color: #000;
  text-decoration: none;
}

.aboutLink:hover {
  background-color: #000;
  color: #fff;
}

