.playButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 20px;
  color: black;
  cursor: pointer;
  z-index: 100;
  padding: 5px;
}

.playButton:hover {
  opacity: 0.6;
}

/* Mobile styles */
@media (max-width: 768px) {
  .playButton {
    bottom: 15px;
    right: 15px;
    font-size: 12px;
  }
}

