.app {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #ffffff;
}

.main {
  flex: 1;
  padding: 0;
  overflow-y: auto;
  scrollbar-gutter: stable;
  background-color: #ffffff;
}

